@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&family=Nunito&family=Press+Start+2P&display=swap');

body {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  font-family: 'Nunito';
}

h1, h2 {
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
}

